/** CSS Reset **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Styling **/

#img1 {
  background: url(tree_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img2 {
  background: url(tree_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img3 {
  background: url(tree_3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img4 {
  background: url(tree_4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hidden_images {
  display:none;
}

.dark-box {
  background-color:rgba(0,0,0,0.2);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}


h1 {
  position:absolute;
  top:14%;
  z-index:2;
  font-family: 'Francois One', sans-serif;
  font-size:7em;
  color:rgba(255, 255, 255, 0.8);
  left:10%;
  width:600px;
  font-weight:400;
}

footer {
  position:fixed;
  z-index:3;
  width:100%;
  bottom:0;
  font-family: 'Alegreya', serif;
  font-weight:400;
  font-style: italic;
  background:rgba(255, 255, 255, 0.6);
  padding:12px;
  text-align:justify;
  display:none;
}